# Common default serial port
TEST_SERIAL_PORT=/dev/ttyUSB0

# Profile-specific serial ports
TEST_SERIAL_PORT_UNO=/dev/ttyACM0
TEST_SERIAL_PORT_ESP32=/dev/ttyUSB0
TEST_SERIAL_PORT_ESP32S3=/dev/ttyUSB1

# Values used by examples/03_env_define
TEST_WIFI_SSID=your-ssid
TEST_WIFI_PASSWORD=your-password
